@model HujingModel.RoomEntity
@{
    ViewBag.Title = "房间维护";
    Layout = null;
}
<head>
    <title>新增楼宇</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="~/Scripts/MiniUI/demo.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/MiniUI/scripts/boot.js" type="text/javascript"></script>
    <script src="~/Scripts/MiniUI/core.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.form.js" type="text/javascript"></script>
    <style type="text/css">
        html, body {
            padding: 0;
            margin: 0;
            border: 0;
            height: 100%;
            overflow: hidden;
        }

        table td {
            font-size: 12px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            mini.parse();
            var form = new mini.Form("frmRoomAdd");

            //保存
            $("#btnSave").click(function (event) {
                form.validate();
                if (form.isValid() == false) {
                    return;
                }
                $("#frmRoomAdd").ajaxSubmit({
                    success: function (result) {
                        result = eval('(' + result + ')');
                        if (result.code == "100") {
                            mini.showTips({ content: "保存成功！", state: "success", x: "center", y: "top", timeout: 3000 });
                            window.CloseOwnerWindow("save");

                        }
                        else {
                            mini.showTips({ content: result.msg, state: "danger", x: "center", y: "top", timeout: 3000 });
                            return;
                        }
                    },
                    error: function () {
                        mini.showTips({ content: "保存失败！", state: "warning", x: "center", y: "top", timeout: 3000 });
                    }
                });

            });
        });


        function SetData(data) {
            if (data.action == "new") {
                mini.getbyName("floorid").setValue(data.floorid);
            }
        }

        function onCancel(e) {
            window.CloseOwnerWindow("cancel");
        }
    </script>
</head>
<body>
    <form id="frmRoomAdd" method="post" action="/Room/SaveRoom">
        <input name="id" class="mini-hidden" />
        <div style="padding-left: 15px; padding-top: 8px;">
            <table style="table-layout: fixed;">
                <tr>
                    <td>
                        房间名称：
                    </td>
                    <td>
                        <input id="RoomName" name="RoomName" class="mini-textbox" style="width: 120px" required="true" />
                        <input name="floorid" class="mini-textbox" visible="fasle" />
                    </td>
                </tr>
                <tr style="height: 8px;"></tr>
                <tr>
                    <td>
                        房间类型：
                    </td>
                    <td>
                        <input name="RoomNum" class="mini-combobox" style="width: 120px" valuefield="CodeId" textfield="CodeName"
                               url='@Url.Action("GetCommonDictCode","Common" ,new { codeType = @HujingCommon.DictCodeTypeClass.RoomType })' required="true" emptytext="请选择" />
                    </td>
                </tr>
                <tr style="height: 8px;"></tr>
                <tr>
                    <td>
                        房间朝向：
                    </td>
                    <td>
                        <input name="RoomDirection" style="width: 120px;" class="mini-combobox" valuefield="CodeId"
                               textfield="CodeName" data="[{CodeId: '朝南', CodeName: '朝南'}, {CodeId: '朝北', CodeName: '朝北'}]"
                               required="true" emptytext="请选择" />
                    </td>
                </tr>
                <tr style="height: 8px;"></tr>
                <tr>
                    <td>
                        备注：
                    </td>
                    <td>
                        <input id="Memo" name="Memo" class="mini-textbox" style="width: 120px"  />
                    </td>
                </tr>
            </table>
        </div>
        <div style="text-align: center; padding-top: 20px;">
            <a class="mini-button" id="btnSave" href="javascript:void(0);" style="width: 60px;
            margin-right: 20px;">确定</a> <a class="mini-button" onclick="onCancel" style="width: 60px;">
                取消
            </a>
        </div>
    </form>
</body>
