@{
    ViewBag.Title = "Top";
}
    <div class="leftside-header">
        <div class="logo">
            <span class="tsFont" style="display:block;margin-left:10px; margin-top:10px; line-height:20px; font-size:20px; font-family: Batang;">瑚景养老医疗</span>
        </div>
        <div id="menu-toggle" class="visible-xs toggle-left-sidebar" data-toggle-class="left-sidebar-open" data-target="html">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>
    <div class="rightside-header">
        <div class="header-middle"></div>
        <div class="header-section" id="search-headerbox">
            <input type="text" name="search" id="search" placeholder="Search...">
            <i class="fa fa-search search" id="search-icon" aria-hidden="true"></i>
            <div class="header-separator"></div>
        </div>
        <div class="header-section hidden-xs" id="notice-headerbox">
            <div class="notice" id="messages-notice">
                <i class="fa fa-comments-o" aria-hidden="true"></i>
                <span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
                <div class="dropdown-box basic">
                    <div class="drop-header ">
                        <h3><i class="fa fa-comments-o" aria-hidden="true"></i> Messages</h3>
                        <span class="number">120</span>
                    </div>
                    <div class="drop-content">
                        <div class="widget-list list-left-element">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="left-element"><img alt="John Doe" src="~/Scripts/Helsinki/images/avatar_1.jpg" /></div>
                                        <div class="text">
                                            <span class="title">@ViewBag.UserName</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="left-element"><img alt="Alice Smith" src="~/Scripts/Helsinki/images/avatar_2.jpg" /></div>
                                        <div class="text">
                                            <span class="title">Alice Smith</span>
                                            <span class="subtitle">Deserunt, mollitia?</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="left-element"><img alt="Klaus Wolf" src="~/Scripts/Helsinki/images/avatar_3.jpg" /></div>
                                        <div class="text">
                                            <span class="title">Klaus Wolf</span>
                                            <span class="subtitle">Consectetur adipisicing elit.</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="left-element"><img alt="Sun Li" src="~/Scripts/Helsinki/images/avatar_4.jpg" /></div>
                                        <div class="text">
                                            <span class="title">Sun Li</span>
                                            <span class="subtitle">Tenetur tempora?</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="left-element"><img alt="Sonia Valera" src="~/Scripts/Helsinki/images/avatar_5.jpg" /></div>
                                        <div class="text">
                                            <span class="title">Sonia Valera</span>
                                            <span class="subtitle">Similique ad maxime.</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="drop-footer">
                        <a>See all messages</a>
                    </div>
                </div>
            </div>
            <div class="notice" id="alerts-notice">
                <i class="fa fa-bell-o" aria-hidden="true"></i>
                <span>4</span>
                <div class="dropdown-box basic">
                    <div class="drop-header">
                        <h3><i class="fa fa-bell-o" aria-hidden="true"></i> Notifications</h3>
                        <span class="number">4</span>
                    </div>
                    <div class="drop-content">
                        <div class="widget-list list-left-element list-sm">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="left-element"><i class="fa fa-warning color-warning"></i></div>
                                        <div class="text">
                                            <span class="title">8 Bugs</span>
                                            <span class="subtitle">reported today</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="left-element"><i class="fa fa-flag color-danger"></i></div>
                                        <div class="text">
                                            <span class="title">Error</span>
                                            <span class="subtitle">sevidor C down</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="left-element"><i class="fa fa-cog color-dark"></i></div>
                                        <div class="text">
                                            <span class="title">New Configuration</span>
                                            <span class="subtitle"></span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="left-element"><i class="fa fa-tasks color-success"></i></div>
                                        <div class="text">
                                            <span class="title">14 Task</span>
                                            <span class="subtitle">completed</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="left-element"><i class="fa fa-envelope color-primary"></i></div>
                                        <div class="text">
                                            <span class="title">21 Menssage</span>
                                            <span class="subtitle"> (see more)</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="drop-footer">
                        <a>See all notifications</a>
                    </div>
                </div>
            </div>
            <div class="header-separator"></div>
        </div>
        <div class="header-section" id="user-headerbox">
            <div class="user-header-wrap">
                <div class="user-photo">
                    <img src="~/Scripts/Helsinki/images/user-avatar.jpg" alt="Jane Doe" />
                </div>
                <div class="user-info">
                    <span class="user-name">@ViewBag.UserName</span>
                </div>
                <i class="fa fa-plus icon-open" aria-hidden="true"></i>
                <i class="fa fa-minus icon-close" aria-hidden="true"></i>
            </div>
            <div class="user-options dropdown-box">
                <div class="drop-content basic">
                    <ul>
                        <li> <a href="pages_user-profile.html"><i class="fa fa-user" aria-hidden="true"></i>个人资料</a></li>
                        <li> <a href="pages_lock-screen.html"><i class="fa fa-lock" aria-hidden="true"></i> Lock Screen</a></li>
                        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i>默认菜单</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-separator"></div>
        <div class="header-section">
            <a href="pages_sign-in.html"><i class="fa fa-sign-out log-out" aria-hidden="true"></i></a>
        </div>
    </div>