@{
    ViewBag.Title = "角色管理";
    Layout = null;
}
<head>
    <script src="~/Scripts/MiniUI/scripts/boot.js" type="text/javascript"></script>
    <script src="~/Scripts/MiniUI/core.js" type="text/javascript"></script>
    <script src="~/Scripts/AdjustHeight.js"></script>
    <script type="text/javascript">
        var adjust = new AdjustHeight();
        var grid;
        $(document).ready(function () {
            mini.parse();
            grid = mini.get("grid1");
            grid.load();

            setTimeout(AdjustTimeRun, 2000);
        });

        function AdjustTimeRun() {
            adjust.SetSupIframe("myiframe");
        }


        function AddRow() {
            var url = '@Url.Action("Add")';
            mini.open({
                url: url,
                title: "新增角色", width: 400, height: 160,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = { action: "new" };
                },
                ondestroy: function (action) {
                    if (action == "save") {
                        mini.showTips({ content: "增加成功！", state: "success", x: "center", y: "top", timeout: 3000 });
                        grid.load();
                    }
                }
            });
        }

        function Edit() {
            var rows = grid.getSelecteds();
            if (rows.length <= 0) {
                mini.showTips({ content: "请选择要编辑的角色！", state: "warning", x: "center", y: "top", timeout: 3000 });
                return;
            }
            if (rows.length > 1) {
                mini.showTips({ content: "只能选择一个角色！", state: "warning", x: "center", y: "top", timeout: 3000 });
                return;
            }

            var url = '@Url.Action("Edit")?roleid=' + rows[0].RoleId;
            if (rows.length == 1) {
                mini.open({
                    url: url,
                    title: "编辑角色", width: 400, height: 160,
                    onload: function () {
                    },
                    ondestroy: function (action) {
                        if (action == "save") {
                            mini.showTips({ content: "编辑成功！", state: "success", x: "center", y: "top", timeout: 3000 });
                            grid.load();
                        }
                    }
                });

            }

        }


        function Remove() {

            var rows = grid.getSelecteds();
            if (rows.length <= 0) {
                mini.showTips({ content: "请选择需要删除的角色！", state: "warning", x: "center", y: "top", timeout: 3000 });
                return;
            }

            mini.confirm("确定删除记录？", "确定？", function (action) {
                if (action == "ok") {
                    var ids = [];
                    for (var i = 0, l = rows.length; i < l; i++) {
                        var r = rows[i];
                        ids.push(r.RoleId);
                    }
                    var id = ids.join(',');
                    grid.loading("操作中，请稍后......");

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete")',
                        data: { "RoleIds": id },
                        cache: false,
                        success: function (result) {
                            if (result) {
                                mini.showTips({ content: "操作成功！", state: "success", x: "center", y: "top", timeout: 3000 });
                                grid.load({});
                            }
                            else {
                                mini.showTips({ content: "操作失败！", state: "danger", x: "center", y: "top", timeout: 3000 });
                            }
                        }
                    });
                } else {

                }
            });

        }

        function search() {
            var key = $("#key").val();
            grid.load({ rolename: key });
        }
        function onKeyEnter(e) {
            search();
        }

    </script>
</head>
<body>
    <div>
        <ul class="mnbreadcrumb">
            <li>
                <a href="#">系统管理</a> <span class="divider"></span>
            </li>
            <li>
                <a href="#">角色管理</a>
            </li>
        </ul>
    </div>
    <div showcollapsebutton="true">
        <div style="width: 100%; height: 30px">
            <div class="mini-toolbar" style="border-bottom: 0; padding: 0px;">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 100%;">
                            <a class="mini-button" iconcls="icon-add" onclick="AddRow()">增加</a> <a class="mini-button"
                                                                                                   iconcls="icon-edit" onclick="Edit()">编辑</a> <a class="mini-button" iconcls="icon-del"
                                                                                                                                                  onclick="Remove()">删除</a>
                        </td>
                        <td style="white-space: nowrap;">
                            <input id="key" placeholder="请输入角色" style="width: 150px;" onenter="onKeyEnter" />
                            <a class="mini-button" onclick="search()">查询</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="grid1" class="mini-datagrid" style="width: 100%; height: 80%;" allowresize="true"
             url="@Url.Action("GetList")" idfield="RoleId" pagesize="15" multiselect="false">
            <div property="columns">
                <div type="checkcolumn" width="10">
                </div>
                <div field="RoleId" width="80" headeralign="center" align="center" allowsort="true">
                    角色编码
                </div>
                <div field="RoleName" width="70" headeralign="center" align="center" allowsort="true">
                    角色名称
                </div>
                <div field="Memo" width="70" headeralign="center" align="center" allowsort="true">
                    备注
                </div>
            </div>
        </div>
    </div>

</body>
