@{
    ViewBag.Title = "机构信息";
    Layout = null;
}

<html>

<head>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>*@
    <script src="~/Scripts/MiniUI/scripts/boot.js" type="text/javascript"></script>
    <script src="~/Scripts/MiniUI/core.js" type="text/javascript"></script>

    <style type="text/css">
        /*body {
            margin: 0;
            padding: 0;
            border: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }*/
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            mini.parse();
            var grid = mini.get("grid1");
            grid.load();
        });

        function AdjustTimeRun()
        {
            adjust.SetSupIframe("myiframe");
        }

        function AddRow() {
            var tree = mini.get("tree1");
            var node = tree.getSelectedNode();
            var parentid = "";
            if (node) {
                parentid = node.id;
            }
            if (node) {
            } else {
                var orgTypeCombo = mini.getbyName("AddRoot");
            }
            var url = '@Url.Action("Add")';
            mini.open({
                url: url,
                title: "新增区域", width: 460, height: 220,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = { action: "new", UpperId: node.id, UpperName: node.name };
                    iframe.contentWindow.SetData(data);
                },
                ondestroy: function (action) {
                    if (action != "cancel") {
                        grid.load({ upperid: parentid });
                    }
                }
            });
        }

    </script>
</head>

<body>
    <div>
        <ul class="mnbreadcrumb">
            <li>
                <a href="#">系统管理</a> <span class="divider"></span>
            </li>
            <li>
                <a href="#">区域管理</a>
            </li>
        </ul>
    </div>
    <div class="mini-splitter" style="width: 100%; height:90%;">
        <div size="240" showcollapsebutton="true">
            <div class="mini-toolbar" style="padding: 2px; border-top: 0; border-left: 0; border-right: 0;">
                <span style="padding-left: 5px;">区域树</span>
            </div>
            <div class="mini-fit">
                <ul id="tree1" class="mini-tree" url="@Url.Action("GetRegionAreaTree")" style="width: 100%;"
                    showtreeicon="true" textfield="name" idfield="id" parentfield="pid" resultastree="false"></ul>
            </div>
        </div>
        <div showcollapsebutton="true">
            <div class="mini-toolbar" style="padding: 2px; border-top: 0; border-left: 0; border-right: 0;">
                <a class="mini-button" iconcls="icon-add" plain="true" onclick="AddRow()">新增</a>
                <span class="separator"></span><a class="mini-button" iconcls="icon-edit" plain="true"
                                                  onclick="edit()">修改</a>
                <span class="separator"></span>
            </div>
            <div class="mini-fit">
                <div id="grid1" class="mini-datagrid" style="width: 100%; height:95%;" url="@Url.Action("GetList")"
                     idfield="RegId" allowresize="true" pagesize="15" editnextonenterkey="true"
                     editnextrowcell="true">
                    <div property="columns">
                        <div type="checkcolumn">
                        </div>
                        <div name="RegId" field="RegId" headeralign="center" width="150">
                            区域编码
                        </div>
                        <div name="RegName" field="RegName" headeralign="center" width="150">
                            区域名称
                        </div>
                        <div name="InputStr" field="InputStr" headeralign="center" width="100">
                            助记符
                        </div>
                        <div field="OrgTypeName" width="120" headeralign="center">
                            区域类型
                        </div>
                        <div field="Flag" width="60" headeralign="center" renderer="StopGetName">
                            是否停用
                        </div>
                        <div field="Memo" width="120" headeralign="center">
                            备注
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    mini.parse();

    var tree = mini.get("tree1");
    var grid = mini.get("grid1");

    tree.on("nodeselect", function (e) {
        if (e.isLeaf) {
            grid.load({ upperid: e.node.id });
        } else {
            grid.load({ upperid: e.node.id });
            //            grid.setData([]);
            //            grid.setTotalCount(0);
        }
    });


    function removeRow() {
        mini.parse();
        var node = tree.getSelectedNode();
        var parentid = "";
        if (node) {
            parentid = node.id;
        }
        var row = grid.getSelected();
        if (row) {
            mini.confirm("确定停用此区域吗？", "确定信息",
                function (action) {
                    if (action == "ok") {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Delete")',
                            data: { "regid": row.RegId },
                            cache: false,
                            success: function (result) {
                                if (result == "ok") {
                                    mini.showTips({ content: "操作成功！", state: "success", x: "center", y: "top", timeout: 3000 });
                                    grid.load({ upperid: parentid });
                                }
                                else {
                                    mini.showTips({ content: "操作失败！", state: "danger", x: "center", y: "top", timeout: 3000 });
                                }

                            }
                        });
                    }
                }
            );
        }
        else {
            mini.showTips({ content: "请选择需要停用的机构！", state: "warning", x: "center", y: "top", timeout: 3000 });
            return;
        }

    }
    </script>
</body>
</html>
