<?xml version="1.0" encoding="utf-8" ?> 
<settings>
	<!--   User application and configured property settings go here.-->
	<!-- To run tests, create a file named DataBase.config 
		 with your own value for datasource.
		 (don't included it in the solution and don't commit it in SVN)
	-->
	<add key="userid" value="sa" />
	<add key="password" value="123" />
	<add key="database" value="HujingData" />
	<add key="datasource" value="PC-201401032208\SQL2005SERVER" />
	<add key="selectKey" value="select @@IDENTITY as value" />
	<add key="directory" value="Maps" />
	<add key="useStatementNamespaces" value="true" />
    <add key="provider" value="sqlServer2.0" />
        <!--sqlServer2.0/sqlServer1.1-->
</settings>