<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <!-- Rem : If used via a DataAccess context, properties tag will be ignored 
  <properties resource="../../database.config"/>
  -->
  <properties embedded="database.config,SqlMaps"/>
  <settings>
    <setting useStatementNamespaces="${useStatementNamespaces}"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <!-- Optional if resource -->
  <providers embedded="providers.config,SqlMaps"/>
  <!-- ==== SqlClient configuration =========	-->
  <!-- Rem : If used via a DataAccess context, database tag will be ignored -->
  <database>
    <!-- Optional ( default ) -->
    <provider name="${provider}"/>
    <!--<dataSource name="iBatisNet" connectionString="Data Source=61.152.188.206;Initial Catalog=sq_daohuen240;User ID=sq_daohuen240;Password=owtgU8orPcXL7Un7"/>-->
    <!--<dataSource name="iBatisNet" connectionString="Data Source=XTZ-01603011252\MSSQL2008R2;Initial Catalog=NJGYData2016_0322;User ID=sa;Password=123"/>-->
    <!--<dataSource name="iBatisNet" connectionString="Data Source=1a636a2354.iok.la;Initial Catalog=TestDataJY;User ID=sa;Password=seer@2012"/>-->
    <!--<dataSource name="iBatisNet" connectionString="Data Source=(local);Initial Catalog=NJGYData2016_0309;User ID=sa;Password=1qaz"/>-->
    <!--<dataSource name="iBatisNet" connectionString="data source=61.152.188.161;database=sq_daohuen;user id=sq_daohuen;password=FcWm545S31Z8v;connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/>-->
    <!--<dataSource name="iBatisNet" connectionString="Data Source=106.14.193.213;Initial Catalog=OrderDB;user id=sa;password=abc123!;"/>-->
    <dataSource name="iBatisNet" connectionString="Data Source=47.98.124.254;Initial Catalog=OrderEat;user id=sa;password=abc123!;"/>

  </database>

  <sqlMaps>
    <!-- user via embedded-->

    <!--SysFrame-->
    <sqlMap embedded="Map.SysFrame.Organization.xml,SqlMaps"/>
    <sqlMap embedded="Map.SysFrame.SysRole.xml,SqlMaps"/>
    <sqlMap embedded="Map.SysFrame.SysGroup.xml,SqlMaps"/>
    <sqlMap embedded="Map.SysFrame.SysOrgGroup.xml,SqlMaps"/>
    <sqlMap embedded="Map.SysFrame.SysUserRole.xml,SqlMaps"/>
    <sqlMap embedded="Map.SysFrame.SysRoleGroup.xml,SqlMaps"/>
    <sqlMap embedded="Map.SysFrame.UserInfo.xml,SqlMaps"/>
    <sqlMap embedded="Map.SysFrame.Department.xml,SqlMaps"/>
    <!--SysFrame-->

    <!--Basic-->
    <sqlMap embedded="Map.Basic.CheckCode.xml,SqlMaps"/>
    <sqlMap embedded="Map.Basic.DictCode.xml,SqlMaps"/>
    <sqlMap embedded="Map.Basic.DictItem_Cate.xml,SqlMaps"/>
    <sqlMap embedded="Map.Basic.DictItem.xml,SqlMaps"/>
    <sqlMap embedded="Map.Basic.ScheItemDate.xml,SqlMaps"/>
    <sqlMap embedded="Map.SysFrame.UserCard.xml,SqlMaps"/>
    <sqlMap embedded="Map.ChargeManager.PatiPayList.xml,SqlMaps"/>
    <!--Basic-->

    <!--UserOrder-->
    <sqlMap embedded="Map.UserOrder.OrderDinner.xml,SqlMaps"/>
    <sqlMap embedded="Map.UserOrder.RefundsApply.xml,SqlMaps"/>
    <sqlMap embedded="Map.ChargeManager.PatiInBillItem.xml,SqlMaps"/>
    <sqlMap embedded="Map.UserOrder.Satisfaction.xml,SqlMaps"/>
    <!--UserOrder-->


  </sqlMaps>
</sqlMapConfig>