@{
    ViewBag.Title = "老人交款记录";
    Layout = null;
}
<head>
    <script src="~/Scripts/MiniUI/scripts/boot.js" type="text/javascript"></script>
    <script src="~/Scripts/MiniUI/core.js" type="text/javascript"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript">
        var grid;
        var gridPerson;
        $(document).ready(function () {
            mini.parse();
            grid = mini.get("grid1");
            gridPerson = mini.get("SelPerson");
        });


        function AddRow() {
            var srnum = $("#PSerialNum").val();
            if (srnum == "") {
                mini.showTips({ content: "请输入老人信息！", state: "warning", x: "center", y: "top", timeout: 3000 });
                return;
            }

            var url = '@Url.Action("Add")?serialnum=' + srnum;
            mini.open({
                url: url,
                title: "老人缴费", width: 480, height: 350,
                onload: function () {
                },
                ondestroy: function (action) {
                    grid.load({ SerialNum: srnum });
                    if (action == "save") {
                        mini.showTips({ content: "操作成功！", state: "success", x: "center", y: "top", timeout: 3000 });
                        grid.load({ SerialNum: srnum });
                    }
                }
            });
        }


        function onComboValidation(e) {

            var items = this.findItems(e.value);
            if (!items || items.length == 0) {
                e.isValid = false;
                e.errorText = "输入值不在下拉数据中";


                $("#PSerialNum").val("");
                $("#divPatiName").html("");
                $("#divAge").html("");
                $("#divAdmitDate").html("");
                $("#divSex").html("");
                $("#divPreAmount").html("");
                $("#divLeftAmount").html("");
                $("#divFeeAmount").html("");
                grid.load({ SerialNum: "0101S" });
            }
        }


        function RefreshPerson(e) {
            if (e.value.length >= 1) {
                var url = '@Url.Action("GetInPatiPerson", "Common")?input=' + e.value;
                gridPerson.load(url);
            }
        }



    </script>
</head>

<div>
    <ul class="mnbreadcrumb">
        <li>
            <a href="#">入院收费</a> <span class="divider"></span>
        </li>
        <li>
            <a href="#">老人缴费</a>
        </li>
    </ul>
</div>
<div showcollapsebutton="true">
    <div style="width: 720px; padding: 10px; height:27%; border: 1px gray solid">
        <div>
            <div style="float: left; margin-left: 5px;font-size:13px;">
                选择老人:
            </div>
            <div style="float: left; margin-left: 5px;font-size:13px;">
                <div style="float: left; margin-left: 5px">
                    <div id="SelPerson" name="SelPerson" class="mini-combobox" style="width:120px;" popupwidth="360px" textfield="PatiName" valuefield="SerialNum"
                         url='@Url.Action("GetInPatiPerson", "Common")' value="" allowinput="true" onvaluechanged="RefreshPerson" onvalidation="onComboValidation" onitemclick="ClickSelPerson">
                        <div property="columns">
                            <div header="床位号" field="BedName"></div>
                            <div header="入院编号" field="SerialNum"></div>
                            <div header="姓名" field="PatiName"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div><input type="hidden" id="PSerialNum" /></div>
            <div style="float: left; font-size:16px; margin-left: 5px; color:red">
                提示：请在左侧输入框中输入姓名、入院号然后回车！
            </div>
            <div style="font-size:13px;  font-weight:bold">
                <div style="position:absolute; left:25px; top:110px">病人姓名：</div>
                <div style="position:absolute; left:110px; top:110px"><u id="divPatiName"></u></div>
                <div style="position:absolute; left:300px; top:110px">年龄：</div>
                <div style="position:absolute; left:360px; top:110px"><u id="divAge"></u></div>
                <div style="position:absolute; left:25px; top:150px">入院日期：</div>
                <div style="position:absolute; left:110px; top:150px"><u id="divAdmitDate"></u></div>
                <div style="position:absolute; left:300px; top:150px">性别：</div>
                <div style="position:absolute; left:360px; top:150px"><u id="divSex"></u></div>
                <div style="position:absolute; left:25px; top:190px">预交金：</div>
                <div style="position:absolute; left:110px; top:190px"><u id="divPreAmount"></u></div>
                <div style="position:absolute; left:300px; top:190px">消费金额：</div>
                <div style="position:absolute; left:390px; top:190px"><u id="divFeeAmount"></u></div>
                <div style="position:absolute; left:585px; top:190px;color:red">余额：</div>
                <div style="position:absolute; left:635px; top:190px; color:red"><u id="divLeftAmount"></u></div>
            </div>
        </div>
    </div>
    <div style="clear: both; margin-top: 5px; width: 100%; height: 30px">
        <div class="mini-toolbar" style="border-bottom: 0; padding: 0px;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 100%;">
                        <a class="mini-button" iconcls="icon-add" onclick="AddRow()">老人缴费</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="grid1" class="mini-datagrid" style="width: 100%; height:50%;" allowresize="true"
         url="@Url.Action("GetPersonPayListBySerialNum")" idfield="SerialNum" pagesize="100">
        <div property="columns">
            <div type="checkcolumn" width="25">
            </div>
            <div field="SerialNum" width="80" headeralign="center" align="center" allowsort="true">
                入住编号
            </div>
            <div field="PatiName" width="70" headeralign="center" align="center" allowsort="true">
                老人姓名
            </div>
            <div field="PayAmount" width="70" headeralign="center" align="center" allowsort="true">
                交款金额
            </div>
            <div field="InvoiceId" width="70" headeralign="center" align="center" allowsort="true">
                单据号
            </div>
            <div field="CreateDate" width="70" headeralign="center" align="center" allowsort="true" dateformat="yyyy-MM-dd">
                交款日期
            </div>
            <div field="PayModeType" width="70" headeralign="center" align="center" allowsort="true" renderer="paymodeselect">
                交款方式
            </div>
            <div field="CreateUser" width="70" headeralign="center" align="center" allowsort="true">
                操作员
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">


        function ClickSelPerson(e)
        {
            var result = e.item;
            if (result.StatusName != "已入院") {
                mini.showTips({ content: "此人未入院！", state: "warning", x: "center", y: "top", timeout: 3000 });
                return;
            }
            var admitdate = moment(result.AdmitDate).format('YYYY-MM-DD');

            var yjAmount = parseInt(result.PreAmount);
            var yeAmount = parseInt(yjAmount - result.FeeAmount);
            $("#PSerialNum").val(result.SerialNum);
            $("#divPatiName").html(result.PatiName);
            $("#divAge").html(result.Age);
            $("#divAdmitDate").html(admitdate);
            $("#divSex").html(result.SexName);
            $("#divPreAmount").html(result.PreAmount);
            $("#divLeftAmount").html(yeAmount);
            $("#divFeeAmount").html(result.FeeAmount);
            grid.load({ "SerialNum": result.SerialNum, "IsOnly": "yes" });
        }

        var data = [{ CodeId: '0', CodeName: '现金' }, { CodeId: '1', CodeName: '刷卡' }, { CodeId: '2', CodeName: '现金+刷卡' }];
        function paymodeselect(e) {
            for (var i = 0, l = data.length; i < l; i++) {
                var g = data[i];
                if (g.CodeId == e.value) return g.CodeName;
            }
            return "";
        }

</script>
